.andres-container {
    background-color: #187d85;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.andres-image {
    width: 180px;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.andres-container strong {
    color: #ffd700;
}
